
# Visual Studio
.vs/
.vscode/
*.VC.db
*.VC.opendb

# CMake
out/
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json
Testing/

# Visual Studio build
Debug/
Release/
x64/
x86/
Win32/

# User files
*.user
*.suo
*.userosscache

# Logs
*.log

# Temporary
*.tmp
*.bak

# Qt
moc_*
ui_*.h
qrc_*.cpp

# macOS
.DS_Store

# Linux
*.swp