# =========================
# Build directories
# =========================

build/
out/

# =========================
# Visual Studio
# =========================

.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# =========================
# CMake
# =========================

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

# =========================
# Compiled files
# =========================

*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# =========================
# Atari test binaries
# =========================

*.xex
*.ex

# =========================
# Temporary files
# =========================

*.tmp
*.bak
*.log
*~

# =========================
# OS files
# =========================

Thumbs.db
.DS_Store